{% extends "navbarPage.html" %}
{% block title %}About Us{% endblock %}

{%  block content %}
    <h1>Civic Hero Team</h1>
    <div>
        <img src="{{ STATIC_URL }}lya_avatar.jpg" alt="Lya Laberge" height="64" width="64">
        <img src="{{ STATIC_URL }}jp_avatar.png" alt="Jon Parise" height="64" width="64">
        <img src="{{ STATIC_URL }}da_avatar.jpg" alt="Don Abeshouse" height="64" width="64">
        <img src="{{ STATIC_URL }}mjd_avatar.png" alt="Michael Darweesh" height="64" width="64">
    </div>
{% endblock %}
