{% extends "navbarPage.html" %}
{% block title %}Home{% endblock %}

{% block map_head %}
    {% include 'map_header.html' %}
{% endblock %}

{%  block content %}
    <table>
        <tr>
            <td><div class="user_table_title">Feed</div></td><td><div class="user_table_title">Event Map</div></td>
        </tr>
        <tr>
            <td>
                <div class="user_feed_container">
                    {% include 'user_feed.html' %}
                </div>
            </td>
            <td>
                <div class="map_body_container">
                    {% include 'map_body.html' %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}