<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript">
    function initialize() {

        //Center on the home location
        var latlng = new google.maps.LatLng({{ home_location.lat }}, {{ home_location.lon }});
        var myOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"),
                myOptions);

        //Mark home
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"{{ home_location.place_name }}"});

        //Mark every activity in Location infos
        {% for location_info in location_infos %}
            latlng = new google.maps.LatLng({{ location_info.1.lat }}, {{ location_info.1.lon }});
            marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title:"{{ location_info.0 }}"});
        {%  endfor %}
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        initialize();
    });
</script>
