{% extends "base.html" %}

{%  block header %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li class="{% ifequal current_path '/home'%} active {% endifequal %}">
                        <a href="home">Be a Civic Hero</a></li>
                    <li class="{% ifequal current_path '/schedule'%} active {% endifequal %}">
                        <a href="schedule">Schedule of Events</a></li>
                    <li class="{% ifequal current_path '/friends'%} active {% endifequal %}">
                        <a href="friends">Friends</a></li>
                    <li class="{% ifequal current_path '/leaderboard'%} active {% endifequal %}">
                        <a href="leaderboard">All Leadership Boards</a></li>
                </ul>
            </div>
        </div>
    </div><!-- /.navbar -->
{% endblock %}


{%  block achieveFloat %}
    <div class="well">
        This week's achievements:
        <div class="well">
        Badge
        </div>
    </div>
{% endblock %}


{%  block userMessage %}
    Great job, {{ citizen.first_name }}! You have:<p/>
    {% for point_total in point_totals %}
        {{ point_total.1 }} {{  point_total.0}} points.<p/>
    {% endfor %}
{% endblock %}