body
{
    background-color: #FFD966;
    color: #000000;
}

div.mastfoot {
    text-align: center;
    padding-top: 20px;
    font-size: smaller;
}

#map_canvas{
    width: 620px;
    height: 620px;
}